/* all app scss styles here */

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


#contact-actions{
	margin-right: 1rem;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	li{
		line-height: rem-calc(40px);

		a{
			color: #fff;
		}
	}
}

.drawer{
}

.header-bar{
	background-color: #202020;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	z-index: 90;

	h1{
		text-transform: uppercase;
		font-size: 1em;
		line-height: rem-calc(40px);
		font-weight: bold;
		margin: 0;
		margin-left: .5em;

		a{
			color: #fff;
		}
	}
}

.top.drawer{
	position: fixed;
	height: 100%;
	top: -100%;
	left: 0;
	right: 0;
	z-index: 98;
	transition: top .3s $cubic-bezier;

	background-color: #eee;

	&.open{
		top: rem-calc(40px);
	}
}

.bottom-bar{
	position: fixed;
	left: 0;
	right: 0;
	top: 100%;
	margin-top: rem-calc(-40px);
	height: 100%;
	background-color: #202020;
	color: #fff;
	z-index: 99;
	transition: top .3s $cubic-bezier;

	&.open{
		top: rem-calc(80px);
	}

	.inline-list{
		margin-left: 0;
		height: rem-calc(40px);
		margin-bottom: 0;
		
		li{
			width: 20%;
			height: rem-calc(40px);
			text-align: center;
			margin: 0;
			font-size: .8em;
			line-height: .4em;
			cursor: pointer;
			display: block;
			padding-top: rem-calc(8px);
			color: #fff;
			-webkit-transition: background-color .3s linear;

			&.active{
				background-color: #404040;
			}
		}
	}

	.drawer{
		h2{
			color: #fff;
		}
	}
}

#fullpage{
	.section{

		-webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */ 
	    -moz-box-sizing: border-box; /* <=28 */
	    	box-sizing: border-box;
	 		padding: 0 0 rem-calc(80px); 

	 	&.hero,
	 	&.contact{
	 		display: table;
	 		.fp-tableCell{
	 			display: table-cell;
 				vertical-align: middle;
	 		}
	 	}

		&.testimonials{
			ul{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 40px;


				li{
					height: 33%;
					background: #f6f6f6;
					position: relative;

					//hidden state
					top: -20px;
					opacity: 0;
					-webkit-transition: all .3s $cubic-bezier;
					-webkit-transition-delay: .5s;

					&:nth-child(2){
						background: #eee;
					}

					&:nth-child(3){
						background: #e5e5e5;
					}

					blockquote{
						margin-left: 0;
						p{
							font-size: .8em;
						}
					}

					img{
						margin-top: 10px;
						border-radius: 20px;
					}
				}	
			}

			&.active{
				ul{
					li{
						opacity: 1;
						top: 0;

						&:nth-child(2){
							-webkit-transition-delay: .6s;}

						&:nth-child(3){
							-webkit-transition-delay: .7s;}
					}
				}
				//-website-transition-delay
			}
			
		}

		&.points{
			position: relative;

			.reasons{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 80px;
			}

			.reason{
				height: 50%;
				width: 50%;
				float: left;
				overflow: hidden;


				&:not(:first-child){
					cursor: pointer;
					opacity: 1;
					
					i{
						-webkit-transition: margin-top .3s $cubic-bezier;
					}

					&:hover i{
						margin-top: 1em;
					}
				}

				background: #f6f6f6;

				&:nth-child(2){
					background: #eee;
				}

				&:nth-child(3){
					background: #e5e5e5;
				}

				&:nth-child(4){
					background: #ddd;
				}

				> *{
					height: 100%;
					margin: 0;
					padding: rem-calc(20px);
					-webkit-transition: all .3s $cubic-bezier;
					-webkit-transform: translate3d(0,0,0);
				}

				p{
					font-size: rem-calc(13px);
				}

				&.show-reason{
					*{
						-webkit-transform: translate3d(0,-100%,0);
					}
				}
			}
		}

		&.products{
			position: relative;

			.row {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 80px;
			}

			.product{
				height: 20%;
				width: 100%;
				background: #f6f6f6;
				display: table;

				> div{
					display: table-cell;
					vertical-align: middle;
					padding-left: 20px;
				}

				h3{
					margin-bottom: 0;
					line-height: 1;
				}

				p{
					margin-bottom: 0;
				}

				&:nth-child(1){
					h3{line-height: 100%;}
				}

				&:nth-child(2){
					background: #eee;
				}

				&:nth-child(3){
					background: #e5e5e5;
				}

				&:nth-child(4){
					background: #ddd;
				}

				&:nth-child(5){
					background: #d5d5d5;
				}
			}
		}
	}
}

#quote-form{
	position: relative;

	label{
		text-transform: uppercase;
		border-bottom: 1px solid #eee;
		color: blue;
		padding: .5em 0;

		[type="radio"]{
			opacity: 0;
			position: absolute;
		}
	}

	.summary{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		height: rem-calc(40px);
		background: #fff;
		border-bottom: 1px solid #eee;

		p{
			line-height: rem-calc(40px);
			margin-bottom: 0;
		}

		.placeholder{
			font-size: .8em;
			color: #ccc;
		}
	}

	[ui-view]{
		padding-top: rem-calc(60px);
	}
}

/* Page Transitions */

.well[ui-view]{
 height: 100%;
 -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */ 
    -moz-box-sizing: border-box; /* <=28 */
    	box-sizing: border-box;
 		padding: rem-calc(40px) 0 0; 
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .3s $cubic-bezier;
	-moz-transition:all .3s $cubic-bezier;
	-o-transition:all .3s $cubic-bezier;
	transition:all .3s $cubic-bezier;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/
  -webkit-transform:translate3d(-100px, 0, 0);
  -moz-transform:translate3d(-100px, 0, 0);
  transform:translate3d(-100px, 0, 0);
}

/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	max-height: 100%;
	overflow: scroll;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay.md-visible {
	opacity: 1;
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.9);
	-webkit-transition: all 0.3s $cubic-bezier;
	-moz-transition: all 0.3s $cubic-bezier;
	transition: all 0.3s $cubic-bezier;
}

.md-close{
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	width: 3em;
	height: 3em;
	z-index: 3000;
	opacity: 0;

	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	-webkit-transition: all 0.3s $cubic-bezier;
	-moz-transition: all 0.3s $cubic-bezier;
	transition: all 0.3s $cubic-bezier;

	&::before,
	&::after{
		display: block;
		content: " ";
		width: 100%;
		height: 1px;
		background-color: #fff;
		position: absolute;
		top: 50%;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	&:after{
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}

/* Content styles */
.md-content {
	color: #fff;
	background: #e74c3c;
	border-radius: 3px;
	margin: 0 auto;
	overflow: scroll;

	

	h3 {
		margin: 0;
		padding: 0.4em 0;
		font-size: 2em;
		font-weight: 300;
		opacity: 0.8;
		background: rgba(0,0,0,0.1);
		border-radius: 3px 3px 0 0;
	}

	> div {
		padding: 15px 40px 30px;
		margin: 0;
		font-weight: 300;
		font-size: 1.15em;

		p {
			margin: 0;
			padding: 10px 0;
		}

		ul {
			margin: 0;
			padding: 0 0 30px 20px;

			li {
				padding: 5px 0;
			}

			&.select{
				padding-left: 0;
				li{
					text-transform: uppercase;
					list-style: none;
					border-bottom: 2px solid #fff;
					font-weight: bold;
					cursor: pointer;

					p{
						font-size: rem-calc(14px);

						i{
							position: relative;
							top: 3px;
						}
					}
				}
			}
		}
	}

	button {
		display: block;
		margin: 0 auto;
		font-size: 0.8em;
	}
}

/* Effect 12:  Just me */

.md-effect-12{
	.md-content{
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
		opacity: 0;
		-webkit-transition: all 0.3s $cubic-bezier;
		-moz-transition: all 0.3s $cubic-bezier;
		transition: all 0.3s $cubic-bezier;
		opacity: 0;

		h2{
			color: #fff;
		}
	}

	h3,
	.md-content{
		background: transparent;
	}

	&.md-show {
		.md-content{
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			opacity: 1;
		}
	}
}
.md-overlay.md-visible{
	.md-close{
		opacity: 1;
	}
}


/* COOL SELECT */

/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 100;
	width: 100%;
	max-width: 500px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 3em;
}

// .cs-select > span::after,
// .cs-select .cs-selected span::after {
// 	speak: none;
// 	position: absolute;
// 	top: 50%;
// 	-webkit-transform: translateY(-50%);
// 	transform: translateY(-50%);
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

// .cs-select > span::after {
// 	content: '\25BE';
// 	right: 1em;
// }

// .cs-select .cs-selected span::after {
// 	content: '\2713';
// 	margin-left: 1em;
// }

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-active ~ .cs-select,
.cs-select:hover ~ .cs-select{
	z-index: 90;
}

.cs-select .cs-placeholder{
	z-index: 99;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}

// @font-face {
// 	font-family: 'icomoon';
// 	src:url('../fonts/icomoon/icomoon.eot?-rdnm34');
// 	src:url('../fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),
// 		url('../fonts/icomoon/icomoon.woff?-rdnm34') format('woff'),
// 		url('../fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'),
// 		url('../fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

div.cs-skin-underline {
	background: transparent;
	font-size: 1.8em;
	max-width: 400px;
}

@media screen and (max-width: 30em) {
	div.cs-skin-underline { font-size: 1.2em; }
}

.cs-skin-underline > span {
	padding: 0.5em 3em 0.5em 0.5em;
	border-bottom: 3px solid #000;
	border-color: inherit;
	font-weight: bold;
}

.cs-skin-underline > span i {
	// font-family: 'icomoon';
	content: '\e003';
	right: 0.9em;
	top: 1em;
	position: absolute;
	-webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,45deg);
	transform: translate3d(0,-50%,0) rotate3d(0,0,1,45deg);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.cs-skin-underline.cs-active > span i {
	-webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,270deg);
	transform: translate3d(0,-50%,0) rotate3d(0,0,1,270deg);
}

.cs-skin-underline .cs-options {
	background: #bbc7c8;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
	transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
}

.cs-skin-underline.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.cs-skin-underline ul span {
	position: relative;
	text-transform: uppercase;
	font-size: 66%;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 1.2em 0.8em;
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.cs-select ul span::after {
	content: '';
	opacity: 0;
}

.cs-select .cs-selected span::after {
	// font-family: 'icomoon';
	content: '\e010';
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.7s;
	transition: opacity 0.3s 0.7s;
}

.cs-skin-underline ul span::before {
	content: '';
	position: absolute;
	bottom: 1px;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #fff;
	-webkit-transform: translate3d(200%,0,0);
	transform: translate3d(200%,0,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.cs-skin-underline.cs-active ul span,
.cs-skin-underline.cs-active ul span::before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cs-skin-underline li:nth-child(5) span,
.cs-skin-underline li:nth-child(5) span::before,
.cs-skin-underline.cs-active li:first-child span,
.cs-skin-underline.cs-active li:first-child span::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.cs-skin-underline li:nth-child(4) span,
.cs-skin-underline li:nth-child(4) span::before,
.cs-skin-underline.cs-active li:nth-child(2) span,
.cs-skin-underline.cs-active li:nth-child(2) span::before {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.cs-skin-underline li:nth-child(3) span,
.cs-skin-underline li:nth-child(3) span::before {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.cs-skin-underline li:nth-child(2) span,
.cs-skin-underline li:nth-child(2) span::before,
.cs-skin-underline.cs-active li:nth-child(4) span,
.cs-skin-underline.cs-active li:nth-child(4) span::before {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(5) span,
.cs-skin-underline.cs-active li:nth-child(5) span::before {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(6) span,
.cs-skin-underline.cs-active li:nth-child(6) span::before {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(7) span,
.cs-skin-underline.cs-active li:nth-child(7) span::before {
	-webkit-transition-delay: 0.30s;
	transition-delay: 0.30s;
}

.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(8) span,
.cs-skin-underline.cs-active li:nth-child(8) span::before {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
} /* more items require more delay declarations */

.cs-skin-underline .cs-options li span:hover,
.cs-skin-underline .cs-options li.cs-focus span,
.cs-skin-underline li.cs-selected span {
	color: #566473;
	background: transparent;
}

