.product{
	background-color: #f6f6f6;
	border: 1px solid #eee;
	padding: .9em;
	margin-bottom: 3em;
	padding-bottom: 0;
	header{

		p{
			margin-bottom: 0;
			padding: 0;
		}
		h3{
			margin-top: 0;
			padding-top: 0;
			font-size: 1.4em;
			line-height: 1.2em;
		}
	}

	.options{
		margin-bottom: 1em;
	}

	.price{
		hr{
			margin-top: 0;
			margin-bottom: .5em;
			height: 1px;
			border-color: #404040;
		}

		.dollars{
			line-height: 1em;
			margin-top: -6px;
		}
	}

	.price-action{
		p{
			margin-top: 5px; margin-right: 2px;
			margin-bottom: 0;
		}
		.small.button{
			margin-bottom: 0;
		}
	}

	.description{
		hr{
			margin-top: 1em;
			height: 1px;
			border-color: #ccc;
		}

		p{
			padding: 0;
			font-weight: 200;
			font-size: .8em;
			line-height: 1.2;
		}
	}

	.inclusions{
		position: relative;
		overflow: hidden;

		ul.tabs{
			padding-left: 0;
			padding-bottom: 0;

			li{
				margin-left: 0;
				width: 50%;
				border-bottom: 1px solid #ccc;
				text-align: center;
				text-transform: uppercase;
				font-size: .8em;
				padding: 1em 0;
				cursor: pointer;
				transition: background-color .3s $cubic-bezier;

				&.active{
					background-color: #ccc;
				}
			}
		}

		.tab-container{
			width: 200%;
			background-color: #ccc;

			.extras{
				opacity: 0;
			}

			&.extras-active{
				.extras,
				.hospitals{	
					-webkit-transform: translate3d(-100%, 0, 0);
							transform: translate3d(-100%, 0, 0);

				}

				.extras{
					opacity: 1;
				}

				.hospitals{
					opacity: 0;
				}
			}
		}

		.extras,
		.hospitals{
			padding-top: 1em;
			padding-bottom: 2em;
			width: 50%;
			float: left;
			-webkit-transition: all .5s $cubic-bezier;
					transition: all .5s $cubic-bezier;

			ul{
				margin-left: 1.25em;
				li{

					position: relative;
					width: 100%;
					padding-left: 1.5em;
					font-weight: bold;
					font-size: .8em;

					span{
						position: absolute;
						right: 2em;
						color: #666;
						font-weight: normal;
					}

					i{
						position: absolute;
						left: rem-calc(-7px);
						top: rem-calc(4px);
					}

					&.inclusive{
						border-left: 1px solid #202020;
						color: #777;
						font-weight: normal;

						&:before{
							content: "";
							display: block;
							width: 1em;
							border-top: 1px solid #202020;
							position: absolute;
							left: 0;
							top: 1em;
						}
					}
				}
			}
		}
	}

	.actions{
		overflow: hidden;

		.actions-mask{
			width: 200%;

			&.show-save-form{
				> div.save-quote-button,
				> div.form{
					-webkit-transform: translate3d(-100%, 0, 0);
							transform: translate3d(-100%, 0, 0);
						}
			}

			> div{
				width: 50%;
				float: left;
				-webkit-transition: all .5s $cubic-bezier;
						transition: all .5s $cubic-bezier;
			}

			hr{
				margin: 0;
			}

			.form{

				> input,
				> a{
					display: inline-block;
					float: left;
					height: rem-calc(42px);
					margin: 0;
				}

				input{
					width: 50%;
				}

				a{
					width: 35%;
					padding: 0;
					line-height: rem-calc(42px);
				}

				a.alert{
					width: 15%;
					padding: 0;
					line-height: rem-calc(42px);
				}
			}

			.buy-now-button a{
				display: block;
				text-align: center;
				line-height: rem-calc(42px);
				border-top: 1px solid #ddd;
			}

			.buttons{
				a:first-child{
					border-right: 1px solid #ddd;
				}
				a{
					width: 50%;
					float: left;
					line-height: rem-calc(42px);
					display: inline-block;
					text-align: center;
					font-size: .9em;

					&:hover{
						background-color: #ddd;
					}
				}
			}
		}
	}
}

.customise{
	.price{
		color: #fff;
	}
}

.button-group{
	font-size: .6em;
	text-transform: uppercase;
	font-weight: bold;

	a{
		background: #eee;
		display: inline-block;
		padding: rem-calc(0) rem-calc(7px);
		height: rem-calc(26px);
		line-height: rem-calc(24px);
		border: 1px solid #ddd;
		width: 33%;
		text-align: center;
		border-right: none;
		transition: background-color .3s $cubic-bezier;

		&:last-child{
			border-right: 1px solid #ddd;
		}

		&.active{
			background-color: #ddd;
		}
	}
}