<div class="small-12 columns select">
	<h2>What best describes you?</h2>
	
	<label 
		ng-repeat="option in options.policy" 
		for="{{page.type}}-{{ option.value | lowercase }}"
		ng-click="next()"
		ng-class="{ 'selected' : formData.selections[page.type] === option.value }">
		{{ option.label }}
		<input 
			type="radio" 
			ng-model="formData.selections[page.type]" 
			value="{{ option.value }}" 
			id="{{page.type}}-{{ option.value | lowercase }}" 
			name="{{page.type}}-{{ option.value | lowercase }}">
	</label>

</div>