<nav class="bottom-bar" ng-controller="MenuBarController" ng-class="{open : uiStates.bottomDrawerOpen}">
      <ul class="top-level-links inline-list">
        <li class="home"><a ui-sref="home"><i class="fa fa-home"></i><br>Home</a></li>
        <li class="about"><a ui-sref="why-us"><i class="fa fa-question-circle"></i><br>Why us</a></li>
        <li class="quote"><a ui-sref="quote"><i class="fa fa-search"></i><br>Quote</a></li>
        <li class="customers"><a ui-sref="customers"><i class="fa fa-user"></i><br>Customers</a></li>
        <li class="more"><a ng-click="toggleDrawer()"><i class="fa fa-bars"></i><br>More</a></li>
      </ul>

      <div class="drawer">
        <section id="customers-section">

        </section>
        <section id="more-section">
          <ul class="no-bullet row">
            <li class="small-12 columns" ng-repeat="item in items">
              <h2>{{ item.name }} <i class="right fa fa-chevron-right"></i></h2>
              <p>{{ item.description }}</p>
            </li>
          </ul>
        </section>
      </div>
    </nav>