<nav class="bottom-bar" ng-controller="MenuBarController" ng-class="{open : uiStates.bottomDrawerOpen}">
      <ul class="top-level-links inline-list">
        <li ng-repeat="item in menuItems" class="{{item.slug}}" ui-sref="{{item.state}}" ui-sref-active="active" ng-click="uiStates.bottomDrawerOpen = false"><i class="fa {{item.icon}}"></i><br>{{item.name}}</li>
        <li class="more" ng-click="toggleDrawer()"><i class="fa {{ uiStates.bottomDrawerOpen && 'fa-times' || 'fa-bars' }}"></i><br>{{ uiStates.bottomDrawerOpen && 'less' || 'more' }}</li>
      </ul>

      <div class="drawer">
        <section id="more-section">
          <ul class="no-bullet row">
            <li class="small-12 columns" ng-repeat="item in moreItems" ui-sref="{{item.state}}" ng-click="uiStates.bottomDrawerOpen = false">
              <h2>{{ item.name }} <i class="right fa fa-chevron-right"></i></h2>
              <p>{{ item.description }}</p>
            </li>
          </ul>
        </section>
      </div>
    </nav>