<div class="customise">
	<div class="product-summary">
		<h2></h2>
	</div>

	<div class="options">
		
		<div class="excess">
			<p>What would you like your hospital excess to be?</p>
			<button-group 
				options="product.options.excess"
				model="meta.excess">
			</button-group>
		</div>

		<div class="extra-back">
			<p>How much do you want back on extras?</p>
			<button-group 
				options="product.options.extra_back"
				model="meta.extra_back">
			</button-group>
		</div>

		<div class="frequency">
			<p>{{product.name}} will be <strong class="price">${{ meta.price }}</strong> per</p>
			<button-group 
				options="product.options.frequency"
				model="meta.frequency">
			</button-group>
		</div>
		
		<p>
			<a class="small button" ng-click="savePrefs(meta)">Save</a>
			<a class="small button" ng-click="">Buy Now</a>
		</p>
	</div>
</div>