<div full-page-scroll data="data" id="fullpage">
  <div class="section">
    <div class="row">
      <div class="small-12 columns">
        <h1>G'day Australia. We're health.com.au</h1>
        <h2>We’re uncomplexicating health insurance.</h2>
      </div>
    </div>
  </div>

  <div class="section testimonials">
    <ul class="no-bullet">
      <li class="testimonial row" ng-repeat="testimonial in data.testimonials">
        <div class="small-2 columns">
          <img src="http://placehold.it/30x30">
        </div>
        <div class="small-10 columns">
          <blockquote>
            <p>{{ testimonial.description }}<br><em>{{ testimonial.name }}</em></p>
          </blockquote>
        </div>
      </li>
    </ul>
  </div>

  <div class="section points">
    <div class="row reasons">
      <div class="small-6 columns">
        <h3>Reasons to switch</h3>
        <p>(Tap for more)</p>
      </div>
      <div class="reason" 
           ng-repeat="reason in data.reasons" 
           ng-init="showReason = false" 
           ng-class="{ 'show-reason' : showReason }">
        <h3 ng-click="showReason = !showReason">{{ reason.name }}</h3>
        <p ng-click="showReason = !showReason">{{ reason.description }}</p>
      </div>
    </div>
  </div>

  <div class="section products">
    <div class="row">
      <div class="small-12 columns">
        <h3>Our popular products</h3>
        <ul class="no-bullet">
          <li class="row" ng-repeat="product in data.products">
            <product-on-home product="product"></product-on-home>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section contact">
    <div class="row">
      <div class="small-12 columns">
        <h3>Let's have a chat!</h3>
        <p>Give us a call, or live chat with us to discuss what we can do for you.</p>
        <p><a ng-click="openModal('contact')" class="button">Call me back</a> <a class="button">Livechat</a></p> 
      </div>
    </div>
  </div>
</div>