<div class="row">
	<div class="small-12 columns">
		<h2>Get a quote</h2>
		<p>We take into account the important factors in your life, so we can give you the best possible policy.</p>
		<form>
			<p>
				<a class="button" ng-click="openModal('demographic')">
					{{ quote.input.demographic.label != '' && quote.input.demographic.label || "This best describes me..." }} <i class="fa fa-angle-right"></i></a>
			</p>
			<p>
				<a class="button" ng-click="openModal('state')">
					{{ quote.input.state.label != '' && quote.input.state.label || "I live in..." }} <i class="fa fa-angle-right"></i></a>
			</p>
			<p>
				<a class="button" ng-click="openModal('priority')">
					{{ quote.input.priority.label != '' && quote.input.priority.label || "I am after..." }} <i class="fa fa-angle-right"></i></a>
			</p>
			<p>
				<a class="button">
					Get Quote
				</a>
			</p>
			<p>Direct trade craft beer artisan whatever chillwave, Echo Park vinyl 90's cardigan DIY Shoreditch food truck. Crucifix Brooklyn jean shorts, vinyl lo-fi bicycle rights forage ethnic ennui Austin tattooed tousled. Pop-up banjo McSweeney's, squid crucifix locavore gastropub aesthetic flexitarian Truffaut authentic organic pork belly. Deep v farm-to-table cray actually try-hard, selvage salvia chillwave cred scenester PBR&B banjo Williamsburg retro. Polaroid kogi Godard twee cray direct trade. Godard cray Portland McSweeney's, crucifix aesthetic Neutra 90's craft beer literally quinoa Wes Anderson. Literally before they sold out hoodie, selvage cred Blue Bottle locavore yr mlkshk actually sriracha next level ennui vinyl mustache.</p>
			<!-- <cool-select open="coolSelect.isOpen.demographics" options="quote.options.demographics" label="What best describes you?" userinput="quote.input.demographic"></cool-select>
			<cool-select open="coolSelect.isOpen.state" options="quote.options.states" label="Where are you from?" userinput="quote.input.state"></cool-select>
			<cool-select open="coolSelect.isOpen.priority" options="quote.options.priorities" label="What are you after?" userinput="quote.input.priority"></cool-select> -->
		</form>


		<select-modal 
				options="quote.options.demographics" 
				show="uiStates.modalIsVisible.demographic" 
				name="demographics" 
				userinput="quote.input.demographic">
			<h2>What best describes you?</h2>
			<p>So that we can best select plans, tell us a bit about you.</p>
		</select-modal>

		<select-modal
				options="quote.options.states"
				show="uiStates.modalIsVisible.state"
				name="states"
				userinput="quote.input.state">
			<h2>Where are you located?</h2>
			<p>Prices vary by a few cents per state.</p>
		</select-modal>

		<select-modal
				options="quote.options.priorities"
				show="uiStates.modalIsVisible.priority"
				name="priority"
				userinput="quote.input.priority">
			<h2>What are you after?</h2>
			<p>We can also recommend products depending on what you want.</p>
		</select-modal>
	</div>
</div>