<div class="row">
	<form id="quote-form" ng-submit="getQuote()">
		<div class="summary">
			<p>
				<span class="placeholder" ng-hide="formData.selections.policy">
					Please start your quote
				</span>

				<quote-paramater param="policy" value="formData.selections.policy"></quote-parameter>
				<quote-paramater param="state" value="formData.selections.policy"></quote-parameter>
				<quote-paramater param="priority" value="formData.selections.policy"></quote-parameter>
				<quote-paramater param="age" value="formData.selections.policy"></quote-parameter>
				<quote-paramater param="income" value="formData.selections.policy"></quote-parameter>
			</p>
		</div>
		<div id="quote-views" ui-view></div>
	</form>
</div>