<h2>Join health.com.au</h2>
<h3>Awesome! You're gonna love your Basic65 plan.</h3>
<p>Let's get you on your way to signing up. We make this really easy! All you have to do is give us a few contact details, take some photos of your license, medicare card, and current insurer card (if you have one) and we'll do the rest.</p>

<!-- Do we need a 'review order?' -->

<p>Firstly, Tell us a little about yourself.</p>
<p><input type="text" ng-model="signupData.name" placeholder="Your name"></p>
<p><input type="email" ng-model="signupData.email" placeholder="Your email"></p>
<p><input type="text" ng-model="signupData.phone" placeholder="Your mobile number"></p>
<p><a class="button" ui-sref="join.license">Next</a></p>