<header class="row">
	<div class="small-12 columns">
		<p>You're signing up for</p>
		<h3>HeartCare Middle</h3>
	</div>
</header>
<div class="row options">
	<div class="small-6 columns extra-back">
		<div class="button-group">
			<span><a class="active">65%</a><a>75%</a><a>85%</a></span>
			<small>Back on extras</small>
		</div>
	</div>
	<div class="small-6 columns excess">
		<div class="button-group">
			<span><a class="active">$0</a><a>$250</a><a>$500</a></span>
			<small>Hospital Excess</small>
		</div>
	</div>
</div>
<div class="row price">
	<div class="small-3 columns dollars">
		<strong>$2333.30</strong>
	</div>
	<div class="small-9 columns collapse">
		<div class="button-group">
			<a>Weekly</a><a>Monthly</a><a class="active">Yearly</a>
		</div>
	</div>
</div>
<div class="row description">
	<hr>
	<div class="small-12 columns">
		<p>Peace of mind Hospital cover. Loads of coverage, especially in the area of heart care. If you've had trouble with your ticker, this product is for you.</p>
	</div>
</div>
<div class="row inclusions">
	<ul class="tabs inline-list">
		<li class="active">Extras</li>
		<li>Hospitals</li>
	</ul>
	<div class="extras">
		<ul class="no-bullet">
			<li><i class="fa fa-ambulance"></i> Emergency Ambulance <span>FREE</span></li>
			<li><i class="fa fa-check"></i> Dental <span>$700</span></li>
			<li class="inclusive">General</li>
			<li class="inclusive">Major</li>
			<li class="inclusive sublimit">Orthodontics <span>$350</span></li>
			<li><i class="fa fa-check"></i> Physio, Chiro and Osteopathy <span>$350</span></li>
			<li><i class="fa fa-check"></i> Natural Therapy <span>$250</span></li>
			<li><i class="fa fa-check"></i> Remedial Massage <span>$200</span></li>
			<li><i class="fa fa-check"></i> Non-PBS Prescriptions <span>$150</span></li>
			<li><i class="fa fa-check"></i> Psychology <span>$200</span></li>
			<li><i class="fa fa-check"></i> Occupational Therapy <span>$200</span></li>
			<li><i class="fa fa-check"></i> Speech Therapy <span>$200</span></li>
			<li><i class="fa fa-check"></i> Health Maintenance <span>$100</span></li>
		</ul>
	</div>
</div>